In [215]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [216]:
s = pandas.Series([1,2,np.nan,4,5])

In [217]:
s

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [218]:
s.dropna()

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

In [219]:
s

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [220]:
s.dropna(inplace=True)

In [221]:
s

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

In [222]:
date = pd.date_range('20160910',periods = 10)

In [223]:
date

DatetimeIndex(['2016-09-10', '2016-09-11', '2016-09-12', '2016-09-13',
               '2016-09-14', '2016-09-15', '2016-09-16', '2016-09-17',
               '2016-09-18', '2016-09-19'],
              dtype='datetime64[ns]', freq='D')

In [224]:
s = pd.Series(date)

In [225]:
s

0   2016-09-10
1   2016-09-11
2   2016-09-12
3   2016-09-13
4   2016-09-14
5   2016-09-15
6   2016-09-16
7   2016-09-17
8   2016-09-18
9   2016-09-19
dtype: datetime64[ns]

In [226]:
s = pd.Series([1.,4,5,6])

In [227]:
s

0    1.0
1    4.0
2    5.0
3    6.0
dtype: float64

In [228]:
s = pd.Series([1,4,5,6])

In [229]:
s

0    1
1    4
2    5
3    6
dtype: int64

In [257]:
r = np.random.randn(5,1)
r

array([[ 1.19128646],
       [-0.02485524],
       [ 1.16688489],
       [-0.73253226],
       [-0.33368269]])

In [258]:
type(r)

numpy.ndarray

In [231]:
date = pd.date_range('20160914', periods = 5)
date

DatetimeIndex(['2016-09-14', '2016-09-15', '2016-09-16', '2016-09-17',
               '2016-09-18'],
              dtype='datetime64[ns]', freq='D')

In [232]:
df = pd.DataFrame(r,index = date,columns = list('abcde'.upper()))
df

                   A         B         C         D         E
2016-09-14  0.136005  1.443742 -0.478537  1.110311 -0.455589
2016-09-15  0.977539 -0.447168 -0.541370  1.300387 -0.730367
2016-09-16 -0.444276 -0.029367 -0.332550 -0.116065 -0.519264
2016-09-17  0.070599  1.003369  0.658295 -0.282380  0.558979
2016-09-18 -1.047058 -1.603288  0.237994 -0.245669 -0.800912

In [233]:
s = pd.Series([1,2,3,4,5])

In [234]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [235]:
df = pd.DataFrame(list(s),index = ['apple','banana','peach','watermalon','orange'],columns = ['A'])
df

            A
apple       1
banana      2
peach       3
watermalon  4
orange      5

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
        'a': [1]*4,
        'b': pd.Timestamp('20160914'),
        'c':np.array([3]*4),
        'd':pd.Series(['g','o','l','f'], index=["A","B","C","D"]),
        'e':['p','a','s','s'],
    })
df['f'] = pd.Series(['c','a','t','s'], index=["E","F","G","H"])
df

   a          b  c  d  e    f
A  1 2016-09-14  3  g  p  NaN
B  1 2016-09-14  3  o  a  NaN
C  1 2016-09-14  3  l  s  NaN
D  1 2016-09-14  3  f  s  NaN

In [237]:
df.dtypes

a             int64
b    datetime64[ns]
c             int64
d            object
e            object
dtype: object

In [238]:
df.d

0    g
1    o
2    l
3    f
Name: d, dtype: object

In [239]:
type(df.d)

pandas.core.series.Series

In [240]:
df.e

0    p
1    a
2    s
3    s
Name: e, dtype: object

In [241]:
type(df.e)

pandas.core.series.Series

In [248]:
date = pd.date_range('20160914', periods=10)

In [249]:
date

DatetimeIndex(['2016-09-14', '2016-09-15', '2016-09-16', '2016-09-17',
               '2016-09-18', '2016-09-19', '2016-09-20', '2016-09-21',
               '2016-09-22', '2016-09-23'],
              dtype='datetime64[ns]', freq='D')

In [250]:
values = np.random.randn(10,5)

In [251]:
values

array([[ 2.2134815 ,  0.4524669 ,  1.68116701,  0.39850768, -1.01619634],
       [-0.25260645,  0.34308161, -0.98105352,  0.15450463, -0.33742243],
       [ 1.91072671,  0.21157055,  0.09435091,  0.24523568,  0.72988436],
       [ 1.3272906 ,  0.80218212, -0.97369397, -0.03958245,  1.46501818],
       [ 1.32286669, -0.60167873,  0.70624875, -0.93829586, -0.62281171],
       [ 0.51712067, -1.70616649, -1.43717444, -0.56992509, -0.46019215],
       [ 0.18850767, -0.32915296, -0.72907562,  0.13749704, -0.39418759],
       [ 0.35209987,  0.57461919,  0.99549079,  0.0233954 ,  0.98876755],
       [ 2.17753561, -1.22010745, -0.71642728,  0.52970796, -0.55231637],
       [ 0.08043124, -0.1195331 ,  0.21949529,  0.39064801,  1.02128223]])

In [256]:
df = pd.DataFrame(values, index = date, columns = list('abcde'.upper()))
df

                   A         B         C         D         E
2016-09-14  2.213481  0.452467  1.681167  0.398508 -1.016196
2016-09-15 -0.252606  0.343082 -0.981054  0.154505 -0.337422
2016-09-16  1.910727  0.211571  0.094351  0.245236  0.729884
2016-09-17  1.327291  0.802182 -0.973694 -0.039582  1.465018
2016-09-18  1.322867 -0.601679  0.706249 -0.938296 -0.622812
2016-09-19  0.517121 -1.706166 -1.437174 -0.569925 -0.460192
2016-09-20  0.188508 -0.329153 -0.729076  0.137497 -0.394188
2016-09-21  0.352100  0.574619  0.995491  0.023395  0.988768
2016-09-22  2.177536 -1.220107 -0.716427  0.529708 -0.552316
2016-09-23  0.080431 -0.119533  0.219495  0.390648  1.021282

In [317]:
df['A']

2016-09-14    2.213481
2016-09-15   -0.252606
2016-09-16    1.910727
2016-09-17    1.327291
2016-09-18    1.322867
2016-09-19    0.517121
2016-09-20    0.188508
2016-09-21    0.352100
2016-09-22    2.177536
2016-09-23    0.080431
Freq: D, Name: A, dtype: float64

In [318]:
df[['A']]

                   A
2016-09-14  2.213481
2016-09-15 -0.252606
2016-09-16  1.910727
2016-09-17  1.327291
2016-09-18  1.322867
2016-09-19  0.517121
2016-09-20  0.188508
2016-09-21  0.352100
2016-09-22  2.177536
2016-09-23  0.080431

In [319]:
df[["A","C"]]

                   A         C
2016-09-14  2.213481  1.681167
2016-09-15 -0.252606 -0.981054
2016-09-16  1.910727  0.094351
2016-09-17  1.327291 -0.973694
2016-09-18  1.322867  0.706249
2016-09-19  0.517121 -1.437174
2016-09-20  0.188508 -0.729076
2016-09-21  0.352100  0.995491
2016-09-22  2.177536 -0.716427
2016-09-23  0.080431  0.219495

In [313]:
df[0:4]

                   A         B         C         D         E
2016-09-14  2.213481  0.452467  1.681167  0.398508 -1.016196
2016-09-15 -0.252606  0.343082 -0.981054  0.154505 -0.337422
2016-09-16  1.910727  0.211571  0.094351  0.245236  0.729884
2016-09-17  1.327291  0.802182 -0.973694 -0.039582  1.465018

In [290]:
df['20160917':'20160922']

                   A         B         C         D         E
2016-09-17  1.327291  0.802182 -0.973694 -0.039582  1.465018
2016-09-18  1.322867 -0.601679  0.706249 -0.938296 -0.622812
2016-09-19  0.517121 -1.706166 -1.437174 -0.569925 -0.460192
2016-09-20  0.188508 -0.329153 -0.729076  0.137497 -0.394188
2016-09-21  0.352100  0.574619  0.995491  0.023395  0.988768
2016-09-22  2.177536 -1.220107 -0.716427  0.529708 -0.552316

In [307]:
df.loc['20160915':"20160920",['A','C',"D"]]

                   A         C         D
2016-09-15 -0.252606 -0.981054  0.154505
2016-09-16  1.910727  0.094351  0.245236
2016-09-17  1.327291 -0.973694 -0.039582
2016-09-18  1.322867  0.706249 -0.938296
2016-09-19  0.517121 -1.437174 -0.569925
2016-09-20  0.188508 -0.729076  0.137497

In [298]:
df

                   A         B         C         D         E
2016-09-14  2.213481  0.452467  1.681167  0.398508 -1.016196
2016-09-15 -0.252606  0.343082 -0.981054  0.154505 -0.337422
2016-09-16  1.910727  0.211571  0.094351  0.245236  0.729884
2016-09-17  1.327291  0.802182 -0.973694 -0.039582  1.465018
2016-09-18  1.322867 -0.601679  0.706249 -0.938296 -0.622812
2016-09-19  0.517121 -1.706166 -1.437174 -0.569925 -0.460192
2016-09-20  0.188508 -0.329153 -0.729076  0.137497 -0.394188
2016-09-21  0.352100  0.574619  0.995491  0.023395  0.988768
2016-09-22  2.177536 -1.220107 -0.716427  0.529708 -0.552316
2016-09-23  0.080431 -0.119533  0.219495  0.390648  1.021282

In [297]:
df.iloc[3]

A    1.327291
B    0.802182
C   -0.973694
D   -0.039582
E    1.465018
Name: 2016-09-17 00:00:00, dtype: float64

In [299]:
df.iloc[:,0:2]

                   A         B
2016-09-14  2.213481  0.452467
2016-09-15 -0.252606  0.343082
2016-09-16  1.910727  0.211571
2016-09-17  1.327291  0.802182
2016-09-18  1.322867 -0.601679
2016-09-19  0.517121 -1.706166
2016-09-20  0.188508 -0.329153
2016-09-21  0.352100  0.574619
2016-09-22  2.177536 -1.220107
2016-09-23  0.080431 -0.119533

In [301]:
df.iloc[0:3,0:2]

                   A         B
2016-09-14  2.213481  0.452467
2016-09-15 -0.252606  0.343082
2016-09-16  1.910727  0.211571

In [303]:
df.iloc[[1,2,4],:]

                   A         B         C         D         E
2016-09-15 -0.252606  0.343082 -0.981054  0.154505 -0.337422
2016-09-16  1.910727  0.211571  0.094351  0.245236  0.729884
2016-09-18  1.322867 -0.601679  0.706249 -0.938296 -0.622812

In [304]:
df.iloc[1:1]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []